<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eschild">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/educationlogos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/educationlogos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".view.VideoActivity"></activity>
        <activity android:name=".view.DetailActivity" />
        <activity android:name=".view.TypeActivity" />
        <activity android:name=".view.CourActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="org.apache.http.legacy" android:required="false"></uses-library>
    </application>

</manifest>