<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eschild">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/educationlogos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/educationlogos"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.PreferenceActivity"></activity>

        <service
            android:name=".services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.VideoActivity" />
        <activity android:name=".view.DetailActivity" />
        <activity android:name=".view.TypeActivity" />
        <activity android:name=".view.CourActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>